---
const notionCalendarURL = "https://livspect.notion.site/1232cf7c930c8068a7c0dc68f3062eee?v=c89a1753b2c34ef9bd12ba6c90e4b51e&pvs=4";
---

<!doctype html>
<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PCN渋谷の活動日</title>
    <meta http-equiv="refresh" content={`0;url=${notionCalendarURL}`} />
  </head>
  <body>
    <p>リダイレクトしています...もし自動的にページが変わらない場合は、<a href={notionCalendarURL}>こちらをクリックしてください</a></p>
  </body>
</html>
