---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import pcnFavocoin from "~/assets/pcn.png";
---

<ContentSection title="PCN渋谷" id="about">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    私たちは、全ての子どもたちに<span class="text-primary">プログラミング</span>の機会を提供することを目的とした任意団体です。
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://pcn.club/about/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
    <Image src={pcnFavocoin} alt="PCN Logo" class="w-8 h-8" />
      <span>PCN公式サイト</span>
    </a>
    <a
      href="https://10xer.education"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>10XERとは</span>
    </a>
  </div>
</ContentSection>

